@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap");
:root {
  --color-primary-light:#F58F22;
  --color-primary-dark:#EF6712;
  --shodow-light:#DEE3F266;
  --para:#414141;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 77.5em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 43.25em) {
  html {
    font-size: 43%;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #F6F6F6;
}

.f-12 {
  font-size: 1.2rem;
}

.f-14 {
  font-size: 1.4rem;
}

.f-16 {
  font-size: 1.6rem;
}

.f-18 {
  font-size: 1.8rem;
}

.f-20 {
  font-size: 2rem;
}

.l-18 {
  line-height: 1.8rem;
}

.l-19 {
  line-height: 1.9rem;
}

.l-20 {
  line-height: 2rem;
}

.l-21 {
  line-height: 2.1rem;
}

.l-22 {
  line-height: 2.2rem;
}

.l-24 {
  line-height: 2.4rem;
}

.l-26 {
  line-height: 2.6rem;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.container {
  max-width: 144rem;
  background-color: #F6F6F6;
  margin: 0 auto;
  min-height: 50rem;
}
@media (max-width: 43.25em) {
  .container {
    max-width: 100%;
  }
}

.header {
  box-sizing: content-box;
  height: 5.9rem;
  border-bottom: 5rem solid transparent;
  -o-border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
     border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  border-image-slice: 1;
}
.header__logo {
  box-sizing: content-box;
  padding: 0.2rem 0 1.5rem 1.1rem;
  height: 4.6rem;
  width: 22.8rem;
}
@media (max-width: 64em) {
  .header__logo {
    height: 3.5rem;
    width: 15rem;
  }
}

.content {
  margin: 2rem 3rem 4.7rem;
  border: 1px solid #CFD7ED;
  box-shadow: 0 0.2rem 0.8rem rgba(var(--shadow-light), 0.4);
  border-radius: 10px;
  background-color: #fff;
}
.content-box {
  margin: 2.1rem 3.9rem 3rem 3.8rem;
}
.content__up {
  text-align: center;
  color: var(--para);
}
@media (max-width: 32em) {
  .content__up-paragraph--1, .content__up-paragraph--2 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.content__up__greet {
  margin-bottom: 1.5rem;
}
.content__down {
  margin: 2rem 7.75rem 0;
}

.greeting {
  justify-content: center;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.greeting-text-box {
  display: flex;
  align-items: center;
}
.greeting-text {
  margin-right: 0.5rem;
  color: #4A4A4A;
}
@media (max-width: 32em) {
  .greeting-text {
    font-size: 1.4rem;
  }
}
.greeting--verify-icon {
  height: 5.7rem;
  width: 5.7rem;
  margin-right: 1.2rem;
}
@media (max-width: 32em) {
  .greeting--verify-icon {
    height: 4rem;
    width: 4rem;
  }
}
@media (max-width: 32em) {
  .greeting--succeed-icon {
    height: 2rem;
    width: 2rem;
  }
}
@media (max-width: 32em) {
  .greeting-paragraph {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.account {
  padding: 1.8rem 3rem;
  border: 0.5px solid #E9E9EA;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  text-align: center;
  justify-content: space-between;
  row-gap: 1.8rem;
}
@media (max-width: 32em) {
  .account {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 0.5rem;
  }
}

.query {
  padding: 3.5rem 0 0;
  text-align: center;
}
.query__paragraph {
  color: var(--para);
  margin-bottom: 1.2rem;
}

.new-greet {
  justify-content: center;
  margin-bottom: 0.8rem;
}

.new-greeting-paragraph {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.address-block {
  border: 0.5px solid #E9E9EA;
  margin: 2rem 16.7rem;
  background-color: #FFF6ED;
}

.query__btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.3rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #F27B1A;
  display: inline-block;
}/*# sourceMappingURL=main.css.map */