:root {
  --color-primary-light:#F58F22;
  --color-primary-dark:#EF6712;
  --shodow-light:#DEE3F266;
  --para:#414141; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 43.75em) {
    html {
      font-size: 37.50%; } }
  @media (max-width: 31.25rem) {
    html {
      font-size: 31.25%; } }

body {
  font-family: 'open sans' , sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  max-width: 96rem;
  background-color: #F6F6F6;
  margin: 8rem auto;
  min-height: 50rem;
  display: flex;
  flex-direction: column; }
  @media (max-width: 56.25em) {
    .container {
      max-width: 100%; } }

.header {
  box-sizing: content-box;
  height: 5.9rem;
  border-bottom: 5rem solid transparent;
  border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  border-image-slice: 1; }
  .header__logo {
    box-sizing: content-box;
    padding: .2rem 0 1.5rem 1.1rem;
    height: 4.6rem;
    width: 22.8rem; }
    @media (max-width: 56.25em) {
      .header__logo {
        height: 3.5rem;
        width: 15rem; } }

.content {
  margin: 2rem 3rem 4.7rem;
  border: 1px solid #CFD7ED;
  box-shadow: 0 0.2rem 0.8rem rgba(var(--shadow-light), 0.4);
  border-radius: 10px;
  background-color: #fff; }
  .content-box {
    margin: 2.1rem 3.9rem 3rem 3.8rem; }
  .content__up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: var(--para); }
    @media (max-width: 31.25em) {
      .content__up-paragraph--1, .content__up-paragraph--2 {
        font-size: 1rem;
        line-height: 1.6rem; } }
  .content__down {
    margin: 2rem 7.75rem 0; }

.greeting {
  display: flex;
  align-items: center;
  font-size: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 0.8rem; }
  .greeting-text-box {
    display: flex;
    align-items: center; }
  .greeting-text {
    margin-right: 0.5rem;
    color: #4A4A4A; }
    @media (max-width: 31.25em) {
      .greeting-text {
        font-size: 1.4rem; } }
  .greeting--verify-icon {
    height: 5.7rem;
    width: 5.7rem;
    margin-right: 1.2rem; }
    @media (max-width: 31.25em) {
      .greeting--verify-icon {
        height: 4rem;
        width: 4rem; } }
  @media (max-width: 31.25em) {
    .greeting--succeed-icon {
      height: 2rem;
      width: 2rem; } }
  .greeting-paragraph {
    margin-bottom: 1.5rem; }
    @media (max-width: 31.25em) {
      .greeting-paragraph {
        font-size: 1.2rem;
        line-height: 1.6rem; } }

.account {
  padding: 1.8rem 3rem;
  border: .5px solid #E9E9EA;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.2rem;
  font-size: 1.2rem;
  gap: 1.8rem; }
  .account__details {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .account__details-info {
      font-weight: 600; }
      .account__details-info-rupee-icon {
        font-weight: 300; }
  .account__details--1, .account__details--2, .account__details--3, .account__details--4 {
    display: flex;
    flex: 1;
    flex-direction: column; }

.query {
  padding: 3.5rem 17.6rem 0;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center; }
  @media (max-width: 31.25em) {
    .query {
      padding: 3.5rem 5rem; } }
  .query__paragraph {
    line-height: 2.2rem;
    color: var(--para); }

.new-greet {
  justify-content: center;
  margin-bottom: 0.8rem; }

.new-greeting-paragraph {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem; }

.address-block {
  border: .5px solid #E9E9EA;
  margin: 2rem 16.7rem;
  background-color: #FFF6ED; }

.query__btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.3rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: #fff;
  background-color: #F27B1A; }
