.new-greet {
    justify-content: center;
    margin-bottom: 0.8rem;
}

.new-greeting-paragraph {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.address-block {
    border : .5px solid #E9E9EA;
    margin: 2rem 16.7rem;
    background-color: #FFF6ED;
}