//// CONTAINER
.container {
    max-width: 96rem;
    background-color: #F6F6F6;
    margin: 8rem auto;
    min-height: 50rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
        max-width: 100%;
    }
}


/////HEADER 
.header {
    box-sizing: content-box;
    height: 5.9rem;
    border-bottom: 5rem solid transparent;
    border-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    border-image-slice: 1;
    
    &__logo {
        box-sizing: content-box;
        padding: .2rem 0 1.5rem 1.1rem;
        height: 4.6rem;
        width: 22.8rem;

        @include respond(tab-land) {
            height: 3.5rem;
            width: 15rem;
        }
    }
}

//// CONTENT
.content {
    margin: 2rem 3rem 4.7rem;
    border : 1px solid #CFD7ED;
    box-shadow: 0 .2rem .8rem rgba(var(--shadow-light) , .4);
    border-radius: 10px;
    background-color: #fff;

    &-box {
        margin: 2.1rem 3.9rem 3rem 3.8rem;
    }

    &__up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: var(--para);

        &-paragraph--1,
        &-paragraph--2 {
            @include respond(phone) {
                font-size: 1rem;
                line-height: 1.6rem;
            }

        }
    }

    &__down {
        margin : 2rem 7.75rem 0;
    }
}

.greeting {
    display: flex;
    align-items: center;
    font-size: inherit;
    font-size: 1.6rem;
    font-weight: 700; 
    line-height: 2.4rem;
    margin-bottom: 0.8rem;

    &-text-box {
        display: flex;
        align-items: center;
    }

    &-text {
        margin-right: 0.5rem;
        color :  #4A4A4A;
        @include respond(phone) {
            font-size: 1.4rem;
        }

    }

    &--verify-icon {
        height: 5.7rem;
        width: 5.7rem;
        margin-right: 1.2rem;
        @include respond(phone) {
            height: 4rem;
            width: 4rem;
        }
    }

    &--succeed-icon  {
        @include respond(phone) {
            height: 2rem;
            width: 2rem;
        }
    }

    &-paragraph {
        margin-bottom: 1.5rem;
        @include respond(phone) {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
    }
}



////// Account
.account {
    padding: 1.8rem 3rem;
    border: .5px solid #E9E9EA;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.2rem;
    font-size: 1.2rem;
    gap: 1.8rem;

    &__details {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(tab-port) {
            flex-wrap: wrap;
        }
        
        &-info {
            font-weight: 600;
            &-rupee-icon {
                font-weight: 300;
            }
        }
    }

    &__details {
        &--1,&--2,&--3,&--4 {
            display: flex;
            flex: 1;
            flex-direction: column;
            @include respond(tab-port) {
                flex:0 0 50%;
                margin-bottom: 1rem;
            }
            
        }
    }
}


////// QUERY

.query {
    padding: 3.5rem 17.6rem 0;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    
    @include respond(phone) {
        padding: 3.5rem 5rem;
    }
    &__paragraph {
        line-height: 2.2rem;
        color: var(--para);
    }
}