@import "../abstract/mixin";
:root {
    --color-primary-light:#F58F22;
    --color-primary-dark:#EF6712;
    --shodow-light:#DEE3F266;
    --para:#414141;
}


* {
    margin: 0;
    padding: 0;
}



html {
    box-sizing: border-box;
    font-size: 62.5%; // 10/16 = 62.5% , 1rem = 10px

    @include respond(largest) {// max - 1240
        font-size: 62.5%;
    }

    @include respond(tab-land) { // max - 1024
        font-size: 50%;
    }

    @include respond(tab-port) {
        font-size: 43%;
    }

    @include respond(phone) {  //screen <= 480
        font-size: 37.5%;
    }

}

body {
    font-family: 'open sans' , sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #F6F6F6;
}


