// ------------------------------------------------   FONT SIZE  ---------------- --------------------------------    //

.f-12 {
    font-size: 1.2rem;
}

.f-14 {
    font-size: 1.4rem;
}

.f-16 {
    font-size: 1.6rem;
}

.f-18 {
    font-size: 1.8rem;
}

.f-20 {
    font-size: 2rem;
}


// ------------------------------------------------   LINE HEIGHT  ------------------------------------------------    //
.l-18 {
    line-height: 1.8rem;
}

.l-19 {
    line-height: 1.9rem;
}

.l-20 {
    line-height: 2rem;
}

.l-21 {
    line-height: 2.1rem;
}

.l-22 {
    line-height: 2.2rem;
}

.l-24 {
    line-height: 2.4rem;
}

.l-26 {
    line-height: 2.6rem;
}


